In [1]:
import pandas as pd
from scipy import stats
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
allstars = pd.read_table('all_stars_drama_raw.tsv')

In [3]:
allstars

,id,label,isGroup,gender,text,corpus,playName
0,mirvolin,Мирволин,False,MALE,"Здравствуй, Герасим! как поживаешь?.. А что, о...",rus,turgenev-zavtrak-u-predvoditelja
1,gerasim,Герасим,False,MALE,Здравствуйте. Где это вы достали лошадь?\nКто ...,rus,turgenev-zavtrak-u-predvoditelja
2,balagalaev,Балагалаев,False,MALE,"Филька! Вельвицкого мне позвать.\nТак, так, та...",rus,turgenev-zavtrak-u-predvoditelja
3,velvitskij,Вельвицкий,False,MALE,"Как же-с, как же-с.\nСлушаю-с. Так, стало быть...",rus,turgenev-zavtrak-u-predvoditelja
4,alupkin,Алупкин,False,MALE,"Доложи. А-а-лупкин, дворянин…\nПокорнейше благ...",rus,turgenev-zavtrak-u-predvoditelja
...,...,...,...,...,...,...,...
34481,SAILORS.TYRE.1_Per,Sailor,False,MALE,Where is Lord Helicanus ? He can resolve you ....,shake,pericles
34482,GENTLEMEN.TYRE.0.1_Per,Gentleman,False,MALE,Doth your Lordship call ?,shake,pericles
34483,SAILORS.MYTILENE.1_Per,Sailor,False,MALE,"Sir ,\nThis is the man that can , in aught you...",shake,pericles
34484,LORDS.MYTILENE.0.1_Per,Lord,False,MALE,"Sir , we have a maid in Mytilene ,\nI durst wa...",shake,pericles
34485,Diana_Per,Diana,False,FEMALE,My temple stands in Ephesus . Hie thee thither...,shake,pericles

In [22]:
allstars[allstars['text'].apply(lambda x: not isinstance(x, str))]

,id,label,isGroup,gender,text,corpus,playName
10968,le-docteur-sans-pareil,Le Docteur sans Pareil,False,UNKNOWN,NaN,fre,hervilly-docteur-sans-pareil
19609,der_klavierspieler,Der Klavierspieler,False,MALE,NaN,ger,schnitzler-zum-grossen-wurstel
19860,die_anderen_1-1,Die Anderen,True,MALE,NaN,ger,anzengruber-heimgfunden
19965,ein_knappe,Ein Knappe,False,MALE,NaN,ger,hebbel-agnes-bernauer
19975,schildknapp,Ein Schildknapp,False,MALE,NaN,ger,hebbel-agnes-bernauer
...,...,...,...,...,...,...,...
32779,dritter_herr,3. Herr,False,MALE,NaN,ger,chlumberg-die-fuehrer
32921,zehnte_gruppe,Zehnte Gruppe,True,UNKNOWN,NaN,ger,chlumberg-wunder-um-verdun
33030,die_magd,Die Magd,False,FEMALE,NaN,ger,bahr-das-konzert
33548,Epilogue_2H4,Epilogue,False,UNKNOWN,NaN,shake,henry-iv-part-ii
33773,SOLDIERS.YORK.0.1_3H6,Soldier,False,MALE,NaN,shake,henry-vi-part-3

In [29]:
# drop all rows where the text isn't a string

allstars.drop(allstars[allstars['text'].apply(lambda x: not isinstance(x, str))].index, inplace=True)

In [30]:
allstars

,id,label,isGroup,gender,text,corpus,playName
0,mirvolin,Мирволин,False,MALE,"Здравствуй, Герасим! как поживаешь?.. А что, о...",rus,turgenev-zavtrak-u-predvoditelja
1,gerasim,Герасим,False,MALE,Здравствуйте. Где это вы достали лошадь?\nКто ...,rus,turgenev-zavtrak-u-predvoditelja
2,balagalaev,Балагалаев,False,MALE,"Филька! Вельвицкого мне позвать.\nТак, так, та...",rus,turgenev-zavtrak-u-predvoditelja
3,velvitskij,Вельвицкий,False,MALE,"Как же-с, как же-с.\nСлушаю-с. Так, стало быть...",rus,turgenev-zavtrak-u-predvoditelja
4,alupkin,Алупкин,False,MALE,"Доложи. А-а-лупкин, дворянин…\nПокорнейше благ...",rus,turgenev-zavtrak-u-predvoditelja
...,...,...,...,...,...,...,...
34481,SAILORS.TYRE.1_Per,Sailor,False,MALE,Where is Lord Helicanus ? He can resolve you ....,shake,pericles
34482,GENTLEMEN.TYRE.0.1_Per,Gentleman,False,MALE,Doth your Lordship call ?,shake,pericles
34483,SAILORS.MYTILENE.1_Per,Sailor,False,MALE,"Sir ,\nThis is the man that can , in aught you...",shake,pericles
34484,LORDS.MYTILENE.0.1_Per,Lord,False,MALE,"Sir , we have a maid in Mytilene ,\nI durst wa...",shake,pericles
34485,Diana_Per,Diana,False,FEMALE,My temple stands in Ephesus . Hie thee thither...,shake,pericles

In [77]:
allstars.cleanText.map(lambda x: len(x.split(' '))).describe()

count    34414.000000
mean       665.104754
std       1084.004896
min          1.000000
25%         35.000000
50%        211.000000
75%        843.000000
max      29414.000000
Name: cleanText, dtype: float64

In [42]:
import unicodedata

def strip_punctuation(text: str) -> str:
    """
    >>> strip_punctuation(u'something')
    u'something'

    >>> strip_punctuation(u'something.,:else really')
    u'somethingelse really'
    """
    punctutation_cats = set(['Pc', 'Pd', 'Ps', 'Pe', 'Pi', 'Pf', 'Po'])
    return ''.join(x for x in text
                   if unicodedata.category(x) not in punctutation_cats)

In [51]:
def normalise_spaces(text: str) -> str:
    # by default, Python splits on any whitespace eg "a  \t\nb" -> ['a','b']
    return ' '.join(text.split()).strip()

In [58]:
strip_punctuation(normalise_spaces("Je suis      prêt à \t\tt'écouter, mon\n cher frère,")).lower()

'je suis prêt à técouter mon cher frère'

In [68]:
cleanText = allstars.text.map(lambda x: normalise_spaces(strip_punctuation(x).lower()))
allstars['cleanText'] = cleanText
allstars

,id,label,isGroup,gender,text,corpus,playName,cleanText
0,mirvolin,Мирволин,False,MALE,"Здравствуй, Герасим! как поживаешь?.. А что, о...",rus,turgenev-zavtrak-u-predvoditelja,здравствуй герасим как поживаешь а что он еще ...
1,gerasim,Герасим,False,MALE,Здравствуйте. Где это вы достали лошадь?\nКто ...,rus,turgenev-zavtrak-u-predvoditelja,здравствуйте где это вы достали лошадь кто пре...
2,balagalaev,Балагалаев,False,MALE,"Филька! Вельвицкого мне позвать.\nТак, так, та...",rus,turgenev-zavtrak-u-predvoditelja,филька вельвицкого мне позвать так так тактакт...
3,velvitskij,Вельвицкий,False,MALE,"Как же-с, как же-с.\nСлушаю-с. Так, стало быть...",rus,turgenev-zavtrak-u-predvoditelja,как жес как жес слушаюс так стало бытьс бумаги...
4,alupkin,Алупкин,False,MALE,"Доложи. А-а-лупкин, дворянин…\nПокорнейше благ...",rus,turgenev-zavtrak-u-predvoditelja,доложи аалупкин дворянин покорнейше благодарю ...
...,...,...,...,...,...,...,...,...
34481,SAILORS.TYRE.1_Per,Sailor,False,MALE,Where is Lord Helicanus ? He can resolve you ....,shake,pericles,where is lord helicanus he can resolve you o h...
34482,GENTLEMEN.TYRE.0.1_Per,Gentleman,False,MALE,Doth your Lordship call ?,shake,pericles,doth your lordship call
34483,SAILORS.MYTILENE.1_Per,Sailor,False,MALE,"Sir ,\nThis is the man that can , in aught you...",shake,pericles,sir this is the man that can in aught you woul...
34484,LORDS.MYTILENE.0.1_Per,Lord,False,MALE,"Sir , we have a maid in Mytilene ,\nI durst wa...",shake,pericles,sir we have a maid in mytilene i durst wager w...
34485,Diana_Per,Diana,False,FEMALE,My temple stands in Ephesus . Hie thee thither...,shake,pericles,my temple stands in ephesus hie thee thither a...

In [86]:
allstars_long = allstars[allstars.cleanText.apply(lambda x: 2000 < len(x.split(' ')) < 20000)]
allstars_long

,id,label,isGroup,gender,text,corpus,playName,cleanText
2,balagalaev,Балагалаев,False,MALE,"Филька! Вельвицкого мне позвать.\nТак, так, та...",rus,turgenev-zavtrak-u-predvoditelja,филька вельвицкого мне позвать так так тактакт...
21,darja_ivanovna,Дарья Ивановна,False,FEMALE,. Миша!\nВы… ходили к Попову?\nЧто он вам сказ...,rus,turgenev-provintsialka,миша вы ходили к попову что он вам сказал жду ...
27,graf_ljubin,Граф Любин,False,MALE,". Что же это значит? Никого нет, что ли? Зачем...",rus,turgenev-provintsialka,что же это значит никого нет что ли зачем этот...
28,donja_dolores,Донья Долорес,False,FEMALE,". Однако, мне очень скучно. — Мне нечего читат...",rus,turgenev-neostorozhnost,однако мне очень скучно мне нечего читать я не...
29,don_rafael,Дон Рафаэль,False,MALE,". Что бы вы сделали, прекрасная сеньйора?\n. С...",rus,turgenev-neostorozhnost,что бы вы сделали прекрасная сеньйора сеньйора...
...,...,...,...,...,...,...,...,...
34399,Cloten_Cym,Cloten,False,MALE,"If my shirt were bloody , then to shift it . H...",shake,cymbeline,if my shirt were bloody then to shift it have ...
34402,Iachimo_Cym,Iachimo,False,MALE,"Believe it , sir , I have seen him in Britain ...",shake,cymbeline,believe it sir i have seen him in britain he w...
34410,Belarius_Cym,Belarius,False,MALE,A goodly day not to keep house with such\nWhos...,shake,cymbeline,a goodly day not to keep house with such whose...
34432,Gower_Per,Gower,False,MALE,"To sing a song that old was sung ,\nFrom ashes...",shake,pericles,to sing a song that old was sung from ashes an...
34434,Pericles_Per,Pericles,False,NaN,"I have , Antiochus , and with a soul\nEmbolden...",shake,pericles,i have antiochus and with a soul emboldened wi...

In [88]:
allstars.drop(['text'],axis=1).to_pickle('allstars_clean.pkl.zip')

In [89]:
allstars_long.drop(['text'],axis=1).to_pickle('allstars_long.pkl.zip')

In [87]:
allstars_long

,id,label,isGroup,gender,text,corpus,playName,cleanText
2,balagalaev,Балагалаев,False,MALE,"Филька! Вельвицкого мне позвать.\nТак, так, та...",rus,turgenev-zavtrak-u-predvoditelja,филька вельвицкого мне позвать так так тактакт...
21,darja_ivanovna,Дарья Ивановна,False,FEMALE,. Миша!\nВы… ходили к Попову?\nЧто он вам сказ...,rus,turgenev-provintsialka,миша вы ходили к попову что он вам сказал жду ...
27,graf_ljubin,Граф Любин,False,MALE,". Что же это значит? Никого нет, что ли? Зачем...",rus,turgenev-provintsialka,что же это значит никого нет что ли зачем этот...
28,donja_dolores,Донья Долорес,False,FEMALE,". Однако, мне очень скучно. — Мне нечего читат...",rus,turgenev-neostorozhnost,однако мне очень скучно мне нечего читать я не...
29,don_rafael,Дон Рафаэль,False,MALE,". Что бы вы сделали, прекрасная сеньйора?\n. С...",rus,turgenev-neostorozhnost,что бы вы сделали прекрасная сеньйора сеньйора...
...,...,...,...,...,...,...,...,...
34399,Cloten_Cym,Cloten,False,MALE,"If my shirt were bloody , then to shift it . H...",shake,cymbeline,if my shirt were bloody then to shift it have ...
34402,Iachimo_Cym,Iachimo,False,MALE,"Believe it , sir , I have seen him in Britain ...",shake,cymbeline,believe it sir i have seen him in britain he w...
34410,Belarius_Cym,Belarius,False,MALE,A goodly day not to keep house with such\nWhos...,shake,cymbeline,a goodly day not to keep house with such whose...
34432,Gower_Per,Gower,False,MALE,"To sing a song that old was sung ,\nFrom ashes...",shake,pericles,to sing a song that old was sung from ashes an...
34434,Pericles_Per,Pericles,False,NaN,"I have , Antiochus , and with a soul\nEmbolden...",shake,pericles,i have antiochus and with a soul emboldened wi...

In [102]:
from __future__ import annotations

def threegrams(text: str)->list[str]:
    return [text[i:i+3] for i in range(len(text)-3+1)]

In [104]:
len(threegrams(allstars_long.iloc[-1].cleanText))

23239

In [107]:
len(allstars_long.iloc[-1].cleanText.split(' '))

4580

In [110]:
from collections import Counter

In [115]:
c1 = Counter(threegrams(allstars_long.iloc[-1].cleanText))

In [122]:
len(c1)

2282

In [227]:
c1.most_common(10)

[(' th', 504),
 ('the', 281),
 ('he ', 178),
 ('nd ', 172),
 (' an', 154),
 (' to', 150),
 ('and', 145),
 ('e t', 142),
 ('to ', 138),
 ('re ', 132)]

In [229]:
c2 = Counter()
_ = allstars_long[allstars_long.corpus=="shake"].cleanText.map(lambda x: c2.update(threegrams(x)))
len(c2)

5921

In [228]:
c2.most_common(10)

[(' th', 42422),
 ('the', 24879),
 ('he ', 17327),
 ('nd ', 16951),
 ('and', 15140),
 (' an', 15044),
 ('is ', 12427),
 (' to', 12096),
 ('ll ', 11969),
 (' yo', 11762)]

In [223]:
pd.Series(c1.values()).describe()

count    2282.000000
mean       10.183611
std        21.328089
min         1.000000
25%         1.000000
50%         4.000000
75%        10.000000
max       504.000000
dtype: float64

In [224]:
pd.Series(c2.values()).describe()

count     5921.000000
mean       364.609525
std       1272.688895
min          1.000000
25%          4.000000
50%         31.000000
75%        207.000000
max      42422.000000
dtype: float64

In [238]:
c3 = Counter(allstars_long[allstars_long.corpus=='shake'].cleanText.apply(threegrams).explode().values)

In [397]:
def threegram_bag(df: pd.Series) -> np.ndarray:
    return df.apply(threegrams).explode().dropna().values

In [242]:
len(threegram_bag(allstars_long[allstars_long.corpus=='shake'].cleanText))

2158853

In [243]:
len(threegram_bag(allstars_long[allstars_long.corpus=='rus'].cleanText))

4048757

In [262]:
def unique_threegrams(c):
    return len(set(threegram_bag(allstars_long[allstars_long.corpus==c].cleanText)))

In [257]:
def total_threegrams(c):
    return len(threegram_bag(allstars_long[allstars_long.corpus==c].cleanText))

In [263]:
[(c, unique_threegrams(c)) for c in allstars_long.corpus.unique()]

[('rus', 12542), ('fre', 9939), ('ger', 14289), ('shake', 5921)]

In [259]:
[(c, total_threegrams(c)/1_000_000) for c in allstars_long.corpus.unique()]

[('rus', 4.048757),
 ('fre', 29.722629),
 ('ger', 24.409509),
 ('shake', 2.158853)]

In [444]:
for r in allstars_long.iloc[-30:].itertuples(index=False):

    others = allstars[(allstars.playName==r.playName) & (r.label != allstars.label)]
    all = allstars[(allstars.playName==r.playName)]

    all_threegrams = threegram_bag(all.cleanText)
    this_char_threegrams = threegrams(r.cleanText)
    other_chars_threegrams = threegram_bag(others.cleanText)

    print(f"{r.label} has {len(others)} buddies in {r.playName}")
    print(f"{len(this_char_threegrams)} threegrams for {r.label}")
    print(f"{len(other_chars_threegrams)} threegrams for everyone else")

    # We need a vectorizer that takes an existing sequence of 
    # 3-grams to work with the way we're doing sampling.
    cv = CountVectorizer(analyzer=lambda x: x)
    # fit on the whole play to learn the full 3-gram vocab
    cv.fit([all_threegrams])

    # Now we can transform any vector of 3-grams and the feature 
    # universes will all be the same. +transform+ returns a 
    # sparse CSR matrix, which we convert to an np.ndarray and 
    # then take the first row. Samples are the same size, so we 
    # don't need to scale.
    samp1 = cv.transform([np.random.choice(this_char_threegrams,5000)]).toarray()[0]
    samp2 = cv.transform([np.random.choice(this_char_threegrams,5000)]).toarray()[0]
    samp3 = cv.transform([np.random.choice(other_chars_threegrams,5000)]).toarray()[0]

    print(f"K-S, versus self: {stats.ks_2samp(samp1,samp2).statistic:.4}")
    print(f"K-S, versus all (1): {stats.ks_2samp(samp1,samp3).statistic:.4}")
    print(f"K-S, versus all (2): {stats.ks_2samp(samp2,samp3).statistic:.4}")

    print(f"Wasserstein (earthmover) versus self: {stats.wasserstein_distance(samp1,samp2):.4}")
    print(f"Wasserstein (earthmover) versus all (1): {stats.wasserstein_distance(samp1,samp3):.4}")
    print(f"Wasserstein (earthmover) versus all (2): {stats.wasserstein_distance(samp2,samp3):.4}")

    print('-'*40)

Mercutio has 37 buddies in romeo-and-juliet
10436 threegrams for Mercutio
109033 threegrams for everyone else
K-S, versus self: 0.007934
K-S, versus all (1): 0.02975
K-S, versus all (2): 0.03769
Wasserstein (earthmover) versus self: 0.04307
Wasserstein (earthmover) versus all (1): 0.07821
Wasserstein (earthmover) versus all (2): 0.09521
----------------------------------------
Friar Lawrence has 37 buddies in romeo-and-juliet
14109 threegrams for Friar Lawrence
105360 threegrams for everyone else
K-S, versus self: 0.002834
K-S, versus all (1): 0.0357
K-S, versus all (2): 0.03485
Wasserstein (earthmover) versus self: 0.02834
Wasserstein (earthmover) versus all (1): 0.1156
Wasserstein (earthmover) versus all (2): 0.106
----------------------------------------
Timon has 67 buddies in timon-of-athens
32964 threegrams for Timon
58741 threegrams for everyone else
K-S, versus self: 0.004614
K-S, versus all (1): 0.006767
K-S, versus all (2): 0.006767
Wasserstein (earthmover) versus self: 0.05844
Wasserstein (earthmover) versus all (1): 0.07013
Wasserstein (earthmover) versus all (2): 0.09228
----------------------------------------
Mark Antony has 50 buddies in julius-caesar
12843 threegrams for Mark Antony
83044 threegrams for everyone else
K-S, versus self: 0.006394
K-S, versus all (1): 0.04444
K-S, versus all (2): 0.04284
Wasserstein (earthmover) versus self: 0.06458
Wasserstein (earthmover) versus all (1): 0.09847
Wasserstein (earthmover) versus all (2): 0.1106
----------------------------------------
Marcus Brutus has 50 buddies in julius-caesar
27221 threegrams for Marcus Brutus
68666 threegrams for everyone else
K-S, versus self: 0.008951
K-S, versus all (1): 0.007033
K-S, versus all (2): 0.01055
Wasserstein (earthmover) versus self: 0.0665
Wasserstein (earthmover) versus all (1): 0.07289
Wasserstein (earthmover) versus all (2): 0.05563
----------------------------------------
Caius Cassius has 50 buddies in julius-caesar
18726 threegrams for Caius Cassius
77161 threegrams for everyone else
K-S, versus self: 0.005435
K-S, versus all (1): 0.01886
K-S, versus all (2): 0.02238
Wasserstein (earthmover) versus self: 0.05627
Wasserstein (earthmover) versus all (1): 0.08696
Wasserstein (earthmover) versus all (2): 0.06905
----------------------------------------
Macbeth has 44 buddies in macbeth
27150 threegrams for Macbeth
58306 threegrams for everyone else
K-S, versus self: 0.009141
K-S, versus all (1): 0.009141
K-S, versus all (2): 0.01493
Wasserstein (earthmover) versus self: 0.05789
Wasserstein (earthmover) versus all (1): 0.06825
Wasserstein (earthmover) versus all (2): 0.07617
----------------------------------------
Horatio has 37 buddies in hamlet
10400 threegrams for Horatio
139256 threegrams for everyone else
K-S, versus self: 0.006276
K-S, versus all (1): 0.04315
K-S, versus all (2): 0.04655
Wasserstein (earthmover) versus self: 0.05335
Wasserstein (earthmover) versus all (1): 0.1098
Wasserstein (earthmover) versus all (2): 0.1114
----------------------------------------
King Claudius has 37 buddies in hamlet
20845 threegrams for King Claudius
128811 threegrams for everyone else
K-S, versus self: 0.01308
K-S, versus all (1): 0.02537
K-S, versus all (2): 0.03687
Wasserstein (earthmover) versus self: 0.06747
Wasserstein (earthmover) versus all (1): 0.07374
Wasserstein (earthmover) versus all (2): 0.0978
----------------------------------------
Polonius has 37 buddies in hamlet
13261 threegrams for Polonius
136395 threegrams for everyone else
K-S, versus self: 0.008891
K-S, versus all (1): 0.04236
K-S, versus all (2): 0.03713
Wasserstein (earthmover) versus self: 0.05439
Wasserstein (earthmover) versus all (1): 0.1119
Wasserstein (earthmover) versus all (2): 0.1109
----------------------------------------
Hamlet has 37 buddies in hamlet
58337 threegrams for Hamlet
91319 threegrams for everyone else
K-S, versus self: 0.01621
K-S, versus all (1): 0.01857
K-S, versus all (2): 0.01412
Wasserstein (earthmover) versus self: 0.06695
Wasserstein (earthmover) versus all (1): 0.06328
Wasserstein (earthmover) versus all (2): 0.06276
----------------------------------------
Earl of Kent has 32 buddies in king-lear
13391 threegrams for Earl of Kent
114753 threegrams for everyone else
K-S, versus self: 0.00663
K-S, versus all (1): 0.02376
K-S, versus all (2): 0.01713
Wasserstein (earthmover) versus self: 0.05359
Wasserstein (earthmover) versus all (1): 0.07624
Wasserstein (earthmover) versus all (2): 0.08122
----------------------------------------
Earl of Gloucester has 32 buddies in king-lear
12807 threegrams for Earl of Gloucester
115337 threegrams for everyone else
K-S, versus self: 0.004972
K-S, versus all (1): 0.0453
K-S, versus all (2): 0.04254
Wasserstein (earthmover) versus self: 0.05028
Wasserstein (earthmover) versus all (1): 0.1293
Wasserstein (earthmover) versus all (2): 0.1204
----------------------------------------
Edmund has 32 buddies in king-lear
12179 threegrams for Edmund
115965 threegrams for everyone else
K-S, versus self: 0.00442
K-S, versus all (1): 0.04033
K-S, versus all (2): 0.04475
Wasserstein (earthmover) versus self: 0.05193
Wasserstein (earthmover) versus all (1): 0.1232
Wasserstein (earthmover) versus all (2): 0.1188
----------------------------------------
Lear has 32 buddies in king-lear
28425 threegrams for Lear
99719 threegrams for everyone else
K-S, versus self: 0.01326
K-S, versus all (1): 0.01298
K-S, versus all (2): 0.01685
Wasserstein (earthmover) versus self: 0.09448
Wasserstein (earthmover) versus all (1): 0.09006
Wasserstein (earthmover) versus all (2): 0.06133
----------------------------------------
Edgar has 32 buddies in king-lear
14631 threegrams for Edgar
113513 threegrams for everyone else
K-S, versus self: 0.005801
K-S, versus all (1): 0.01326
K-S, versus all (2): 0.01602
Wasserstein (earthmover) versus self: 0.05912
Wasserstein (earthmover) versus all (1): 0.09503
Wasserstein (earthmover) versus all (2): 0.1155
----------------------------------------
Iago has 27 buddies in othello
42286 threegrams for Iago
87362 threegrams for everyone else
K-S, versus self: 0.01253
K-S, versus all (1): 0.006834
K-S, versus all (2): 0.005695
Wasserstein (earthmover) versus self: 0.05353
Wasserstein (earthmover) versus all (1): 0.03815
Wasserstein (earthmover) versus all (2): 0.04841
----------------------------------------
Othello has 27 buddies in othello
31553 threegrams for Othello
98095 threegrams for everyone else
K-S, versus self: 0.008542
K-S, versus all (1): 0.01452
K-S, versus all (2): 0.005979
Wasserstein (earthmover) versus self: 0.06435
Wasserstein (earthmover) versus all (1): 0.0746
Wasserstein (earthmover) versus all (2): 0.0541
----------------------------------------
Desdemona has 27 buddies in othello
13304 threegrams for Desdemona
116344 threegrams for everyone else
K-S, versus self: 0.004841
K-S, versus all (1): 0.05638
K-S, versus all (2): 0.05609
Wasserstein (earthmover) versus self: 0.05581
Wasserstein (earthmover) versus all (1): 0.1441
Wasserstein (earthmover) versus all (2): 0.1492
----------------------------------------
Cleopatra has 73 buddies in antony-and-cleopatra
23525 threegrams for Cleopatra
98334 threegrams for everyone else
K-S, versus self: 0.007399
K-S, versus all (1): 0.02419
K-S, versus all (2): 0.01679
Wasserstein (earthmover) versus self: 0.07171
Wasserstein (earthmover) versus all (1): 0.1127
Wasserstein (earthmover) versus all (2): 0.06716
----------------------------------------
Antony has 73 buddies in antony-and-cleopatra
30284 threegrams for Antony
91575 threegrams for everyone else
K-S, versus self: 0.00313
K-S, versus all (1): 0.02334
K-S, versus all (2): 0.02618
Wasserstein (earthmover) versus self: 0.04155
Wasserstein (earthmover) versus all (1): 0.07001
Wasserstein (earthmover) versus all (2): 0.07456
----------------------------------------
Enobarbus Domitius has 73 buddies in antony-and-cleopatra
12593 threegrams for Enobarbus Domitius
109266 threegrams for everyone else
K-S, versus self: 0.007684
K-S, versus all (1): 0.03216
K-S, versus all (2): 0.03984
Wasserstein (earthmover) versus self: 0.05521
Wasserstein (earthmover) versus all (1): 0.09448
Wasserstein (earthmover) versus all (2): 0.1002
----------------------------------------
Octavius Caesar has 73 buddies in antony-and-cleopatra
14937 threegrams for Octavius Caesar
106922 threegrams for everyone else
K-S, versus self: 0.01764
K-S, versus all (1): 0.03273
K-S, versus all (2): 0.01508
Wasserstein (earthmover) versus self: 0.07854
Wasserstein (earthmover) versus all (1): 0.08594
Wasserstein (earthmover) versus all (2): 0.08025
----------------------------------------
Posthumus Leonatus has 40 buddies in cymbeline
16655 threegrams for Posthumus Leonatus
117485 threegrams for everyone else
K-S, versus self: 0.01125
K-S, versus all (1): 0.02586
K-S, versus all (2): 0.03711
Wasserstein (earthmover) versus self: 0.05904
Wasserstein (earthmover) versus all (1): 0.08996
Wasserstein (earthmover) versus all (2): 0.08771
----------------------------------------
Imogen has 40 buddies in cymbeline
20804 threegrams for Imogen
113336 threegrams for everyone else
K-S, versus self: 0.008715
K-S, versus all (1): 0.03346
K-S, versus all (2): 0.03655
Wasserstein (earthmover) versus self: 0.05679
Wasserstein (earthmover) versus all (1): 0.08603
Wasserstein (earthmover) versus all (2): 0.09727
----------------------------------------
Cloten has 40 buddies in cymbeline
9969 threegrams for Cloten
124171 threegrams for everyone else
K-S, versus self: 0.0104
K-S, versus all (1): 0.05117
K-S, versus all (2): 0.06157
Wasserstein (earthmover) versus self: 0.08659
Wasserstein (earthmover) versus all (1): 0.1181
Wasserstein (earthmover) versus all (2): 0.1423
----------------------------------------
Iachimo has 40 buddies in cymbeline
16525 threegrams for Iachimo
117615 threegrams for everyone else
K-S, versus self: 0.006185
K-S, versus all (1): 0.01237
K-S, versus all (2): 0.006185
Wasserstein (earthmover) versus self: 0.05004
Wasserstein (earthmover) versus all (1): 0.07197
Wasserstein (earthmover) versus all (2): 0.07984
----------------------------------------
Belarius has 40 buddies in cymbeline
12660 threegrams for Belarius
121480 threegrams for everyone else
K-S, versus self: 0.003374
K-S, versus all (1): 0.03739
K-S, versus all (2): 0.03908
Wasserstein (earthmover) versus self: 0.03992
Wasserstein (earthmover) versus all (1): 0.09165
Wasserstein (earthmover) versus all (2): 0.08828
----------------------------------------
Gower has 53 buddies in pericles
10883 threegrams for Gower
79188 threegrams for everyone else
K-S, versus self: 0.01025
K-S, versus all (1): 0.03323
K-S, versus all (2): 0.0236
Wasserstein (earthmover) versus self: 0.07019
Wasserstein (earthmover) versus all (1): 0.1081
Wasserstein (earthmover) versus all (2): 0.0795
----------------------------------------
Pericles has 53 buddies in pericles
23239 threegrams for Pericles
66832 threegrams for everyone else
K-S, versus self: 0.004658
K-S, versus all (1): 0.02081
K-S, versus all (2): 0.01646
Wasserstein (earthmover) versus self: 0.06957
Wasserstein (earthmover) versus all (1): 0.1075
Wasserstein (earthmover) versus all (2): 0.1255
----------------------------------------